:root {
    --Soft_blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --Very_dark_blue_main_BG: hsl(217, 54%, 11%);
    --Very_dark_blue_card_BG: hsl(216, 50%, 16%);
    --Very_dark_blue_line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Outfit, sans-serif;
}

body {
    background-color: var(--Very_dark_blue_main_BG);
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Very_dark_blue_main_BG);
}

.card {
    width: 340px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    font-weight: 300;
    color: var(--Soft_blue);
    background-color: var(--Very_dark_blue_card_BG);
}

.eth-img {
    width: 100%;
    border-radius: 10px;
}
.card h1{
    margin: 10px 0 20px 0;
    color: var(--White);
    font-weight: 400;
}
.card p {
    margin-bottom: 20px;
    font-size: 18px;
}

.card div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.card div figure {
    display: flex;
    align-items: center;
}

.card div img {
    margin-right: 10px;
}

.eth figcaption {
    color: var(--Cyan);
    font-weight: 600;
}

.card div:last-child {
    border-top: 1px solid var(--Very_dark_blue_line);
}

.avatar {
    padding-top: 15px;
    width: 100%;
}

.avatar img {
    width: 36px;
    border: 1px solid white;
    border-radius: 50%;
}

.avatar figcaption span {
    color: var(--White);
    cursor: pointer;
}

.attribution { margin-bottom: 20px; font-size: 11px; text-align: center; color: var(--White);}
.attribution a { color: hsl(228, 45%, 44%); text-decoration: none;}
